{% extends 'guestpage/base.html' %}
<!-- Content Area -->
{% block content %}
<div class="container-fluid bg-dark text-light py-1">
    <div class="container py-2">
        <div class="container border-bottom">
            <h4>Beranda</h4>
        </div>
    </div>
</div>
<div class="container bg-light my-3 rounded border-left px-0" style="height: auto;">
    <hr class="" style="width: 100%; height: 10px; background-color: darkslateblue; border-radius: 5px 5px 0 0;">
    <div class="container pb-3">
        <div class="text-center">
            <h1>SELAMAT DATANG</h1>
            <h5>Di</h5>
            <h3>
                Aplikasi Pembayaran Pajak Bumi dan Bangunan Online <br>
                Desa Blimbing - Kecamatan Tarokan <br>
                Kabupaten Kediri
            </h3>
        </div>
    </div>
</div>
<!-- Content Area End -->
{% endblock %}