{% extends 'guestpage/base.html' %}
<!-- Content Area -->
{% block content %}
<div class="container-fluid bg-dark text-light py-1">
    <div class="container py-2">
        <div class="container border-bottom">
            <h4>Tambah Data Transaksi Pajak</h4>
        </div>
    </div>
</div>
<div class="container bg-light my-3 rounded px-0" style="height: auto;">
    <hr class="" style="width: 100%; height: 10px; background-color: darkslateblue; border-radius: 5px 5px 0 0;">
    <div class="container pb-3">
        <div class="row container">
            <div class="col-12 text-left">
                <h5><i class="fas fa-file"></i> Form tambah data Transaksi Pajak Terbayar</h5>
                <hr class="bg-secondary mb-4">
            </div>
            <div class="container col-12">
                <form class="form" action="{% url 'trx_create' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nop">NOP Pajak Terbayar</label>
                        <select name="id_pajak" id="nop" class="form-control select2-single" style="width: 100%;">
                            <option value="" selected disabled>Pilih NOP terbayar...</option>
                            {% for sp in sppt %}
                            {% if sp.status == 'Lunas' %}
                            <option disabled value="{{ sp.id }}"> [LUNAS] {{ sp.nop }} - 
                            ID WP : {{ sp.id_wp }} - PBB Terhutang : Rp. {{ sp.pbb_terhutang }} </option>
                            {% else %}
                            <option value="{{ sp.id }}"> {{ sp.nop }} - 
                            ID WP : {{ sp.id_wp }} - PBB Terhutang : Rp. {{ sp.pbb_terhutang }} </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="fas fa-save"></i> Simpan Data
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Content Area End -->
{% endblock %}